@import "_fonts.scss";
@import "_vars.scss";
@import "_global.scss";

.header {
    padding: 60px 0 40px;
    position: relative;
    min-height: 280px;
    &:before,
    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.631);
        border-radius: 35%;
    }
    &:before {
        height: 85px;
    }
    &:after {
        height: 65px;
        background-color: rgba(255, 255, 255, 0.731);
    }
    &-overlay {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.7);
        filter: blur(70px);
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .header-logo {
            display: flex;
            .header-img {
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    width: 150px;
                    height: 150px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #fff;
                    filter: blur(12px);
                    border-radius: 50px;
                }
                img {
                    position: relative;
                    z-index: 1;
                }
            }
            .header-title {
                margin-left: 25px;

                &__name {
                    margin-bottom: 10px;
                    font-size: 55px;
                    color: $text;
                    position: relative;
                    padding-bottom: 20px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 120%;
                        height: 130%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #fff;
                        filter: blur(7px);
                        border-radius: 50px;
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        width: 500px;
                        height: 3px;
                        background-image: linear-gradient(
                            to left,
                            rgba(255, 255, 255, 0),
                            $text 50%,
                            rgba(255, 255, 255, 0) 100%
                        );
                    }
                    span {
                        position: relative;
                    }
                }
                &__location {
                    position: relative;
                    text-align: left;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 60%;
                        height: 130%;
                        left: 0%;
                        top: 50%;
                        transform: translate(-30px, -50%);
                        background-color: #fff;
                        filter: blur(7px);
                        border-radius: 50px;
                    }
                    span {
                        position: relative;
                    }
                }
            }
        }
        .header-info {
            margin-left: auto;
            .header-booking {
                &__btn {
                    margin-bottom: 25px;
                    text-align: right;
                    font-size: 27px;
                    a {
                        &:before {
                        }
                        &:after {
                            transform: translate(-50%, -50%) skew(-20deg) rotate(-1deg);
                        }
                        &:hover {
                            color: rgb(51, 153, 153);
                        }
                    }
                }
                &__tobook,
                &__admin {
                    font-size: 25px;
                    position: relative;
                    padding-left: 35px;
                    &:before {
                        position: absolute;
                        content: "";
                        font-family: "icomoon" !important;
                        left: 0;
                        top: 50%;
                        color: $blue;
                        font-size: 25px;
                        transform: translateY(-50%);
                    }
                }
                &__tobook {
                    &:before {
                        content: "\f046";
                    }
                    a {
                        margin-left: 10px;
                    }
                }
                &__admin {
                    font-size: 24px;
                    margin-top: 10px;
                    &:before {
                        content: "\e900";
                    }
                    a {
                        margin-left: 10px;
                    }
                }
            }
        }
        .header-links {
            margin-left: 30px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                a {
                    padding: 10px;
                    position: relative;
                    &.header-links__telegram {
                        &:before {
                            content: "\f2c6";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "icomoon" !important;
                            font-size: 35px;
                            color: $blue;
                        }
                    }
                    &.header-links__viber {
                        &:before {
                            content: "\e903";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "icomoon" !important;
                            font-size: 38px;
                            color: $blue;
                        }
                    }
                    &.header-links__whatsapp {
                        &:before {
                            content: "\f232";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "icomoon" !important;
                            font-size: 43px;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    &__nav {
        max-width: 1520px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 15px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        height: 50px;
        &-wrapper {
            position: absolute;
            display: flex;
            align-items: center;
            background-color: $yellow;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 15;
            clip-path: polygon(
                0 0,
                10% 30%,
                12% 9%,
                17% 21%,
                26% 9%,
                30% 8%,
                40% 28%,
                60% 13%,
                80% 25%,
                100% 27%,
                100% 100%,
                90% 90%,
                80% 94%,
                70% 89%,
                60% 92%,
                50% 90%,
                40% 92%,
                30% 93%,
                26% 80%,
                20% 90%,
                18% 78%,
                10% 100%,
                0% 60%
            );
            .header__nav-burger {
                display: none;
                padding: 25px;
                position: relative;
                div {
                    width: 25px;
                    height: 3px;
                    background-color: #222;
                    & + div {
                        margin-top: 5px;
                    }
                }
                &:before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-10deg);
                    background-color: $green;
                    z-index: -1;
                }
            }
        }
        li {
            a {
                transition: all 0.2s;
                padding: 20px 10px;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    color: #fff;
                    background-color: $blue;
                }
                &.active {
                    color: #fff;
                    background-color: $blue;
                }
            }
        }
    }
}
.main-content {
    .slider {
        background: url(../images/bg.png) repeat;
        padding: 60px 0 20px;
        .container {
            max-width: 1706px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            &-wrapper {
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    max-width: 1680px;
                    background-color: $blue;
                    transform: rotate(2deg);
                    clip-path: polygon(0% 1%, 100% 0, 100% 99%, 0 100%);
                }
            }
            .slick-prev,
            .slick-next {
                position: absolute;
                bottom: 55%;
                top: 45%;
                z-index: 1;
                outline: none;
                cursor: pointer;
                font-size: 0;
                padding: 0;
                border: none;
                opacity: 0.5;
                transition: all 0.2s;
                &:hover {
                    opacity: 1;
                }
                &:before {
                    font-family: "icomoon" !important;
                    font-size: 85px;
                    color: #fff;
                }
            }
            .slick-prev {
                left: 1%;
                &:before {
                    content: "\f0a8";
                }
            }
            .slick-next {
                right: 1%;
                &:before {
                    content: "\f0a9";
                }
            }

            .slick-track {
                display: flex;
            }
            .slick-dots {
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                z-index: 3;
                display: flex;
                justify-content: center;
                li {
                    & + li {
                        margin-left: 10px;
                    }
                    button {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        background-color: #fff;
                        cursor: pointer;
                        outline: none;
                    }
                    &.slick-active {
                        button {
                            background-color: $blue;
                        }
                    }
                }
            }
            .slick-track {
                display: flex;
            }
            .slider-item {
                position: relative;
                min-height: 680px;
                border: 5px solid #fff;
                display: flex;
                justify-content: space-between;
                .slider-title {
                    margin-left: 120px;
                    margin-top: 50px;
                    color: #fff;
                    span {
                        position: relative;
                        font-size: 29px;
                        text-transform: uppercase;
                        padding-right: 80px;
                        padding-left: 40px;
                        white-space: nowrap;
                        &:before {
                            background-color: $blue;
                            height: 80px;
                            transform: translate(-50%, -50%) skew(15deg);
                            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
                        }
                        &:after {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
                            height: 53px;
                            background-color: $green;
                        }
                    }
                }
                .slider-offer {
                    background-color: $yellow;
                    position: absolute;
                    right: 0;
                    top: 0;
                    max-height: 190px;
                    max-width: 362px;
                    width: 100%;
                    margin-top: 40px;
                    margin-right: 140px;
                    padding: 20px 50px 20px 25px;
                    &__title {
                        font-size: 26px;
                        color: $text;
                        line-height: 35px;
                    }
                    &__text {
                        line-height: 16px;
                    }
                    &__circle {
                        position: absolute;
                        content: "";
                        right: -70px;
                        bottom: -10px;
                    }
                }
            }
        }
    }
    .about {
        padding: 10px 0 30px;
        background: url(../images/bg.png) repeat;
        &-inner {
            display: flex;
            justify-content: space-between;
            .about-adress {
                max-width: 394px;
                &__title {
                    margin-bottom: 30px;
                }
                &__map {
                    max-width: 330px;
                    max-height: 270px;
                    padding: 0;
                    position: relative;
                    margin-bottom: 20px;
                    img {
                        border: 4px solid #fff;
                    }
                    &:before {
                        height: 100%;
                        transform: translate(-50%, -50%) rotate(2deg);
                    }
                    &:after {
                        height: 100%;
                        transform: translate(-50%, -50%) rotate(-2deg);
                    }
                    a {
                        position: absolute;
                        right: 5px;
                        bottom: 15px;
                        padding: 10px 15px;
                        &:hover {
                            color: rgb(51, 97, 139);
                            transform: scale(1.1);
                        }
                        &:before {
                            height: 100%;
                            transform: translate(-50%, -50%) rotate(-2deg);
                            width: 101%;
                            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                        }
                        &:after {
                            height: 100%;
                            transform: translate(-50%, -50%) rotate(2deg);
                            border: 1px solid $blue;
                            clip-path: polygon(0 0, 100% 5%, 95% 100%, 0% 100%);
                        }
                    }
                }
                &__descr {
                    max-width: 250px;
                }
            }
            .about-rest {
                max-width: 722px;
                padding: 0px 10px 50px;
                &__title {
                    max-width: 340px;
                    margin: 0 auto;
                    margin-bottom: 25px;
                }
                &__content {
                    display: flex;
                    justify-content: space-between;

                    .about-text {
                        max-width: 440px;
                        padding: 0 10px;
                    }
                    .about-img {
                        max-width: 260px;
                        position: relative;
                        img {
                            border: 4px solid #fff;
                        }
                        &_1 {
                            padding: 0;
                            max-width: 220px;
                            max-height: 130px;
                            &:before {
                                height: 100%;
                                transform: translate(-50%, -50%) rotate(2deg);
                            }
                            &:after {
                                height: 100%;
                                transform: translate(-50%, -50%) rotate(-2deg);
                            }
                        }
                        &_2 {
                            padding: 0;
                            max-width: 220px;
                            max-height: 130px;
                            top: -15px;
                            img {
                                border: none;
                            }
                            &:before {
                                display: none;
                            }
                            &:after {
                                height: 100%;
                                transform: translate(-50%, -50%) rotate(1deg) translateY(15px);
                                z-index: -5;
                                clip-path: polygon(2% 0, 100% 0, 100% 100%, 5% 90%);
                            }
                        }
                        .about-link {
                            a {
                                left: 20px;
                                padding: 10px 45px;
                                color: #fff;
                                position: absolute;
                                &:hover {
                                    color: rgb(51, 97, 139);
                                    transform: scale(1.1);
                                }
                                &:before {
                                    height: 100%;
                                    transform: translate(-50%, -50%) rotate(-2deg);
                                    width: 101%;
                                    background-color: $blue;
                                    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                                }
                                &:after {
                                    height: 100%;
                                    transform: translate(-50%, -50%) rotate(2deg);
                                    border: 1px solid $blue;
                                    background-color: $green;
                                    clip-path: polygon(0 0, 100% 15%, 95% 100%, 0% 100%);
                                }
                            }
                        }
                    }
                }
            }
            .about-service {
                max-width: 407px;
                &__title {
                    margin-bottom: 30px;
                }
                &__text {
                    margin-bottom: 5px;
                    span {
                        position: relative;
                        padding-left: 15px;
                        &:before {
                            position: absolute;
                            content: "";
                            width: 7px;
                            height: 7px;
                            background-color: $blue;
                            left: 0%;
                            top: 50%;
                            transform: translateY(-50%);
                            border-radius: 50%;
                        }
                    }
                }
                &__link {
                    text-align: right;
                    height: 45px;
                    position: relative;
                    a {
                        padding: 0 35px;
                        color: #fff;
                        bottom: 0px;
                        right: 10%;
                        position: absolute;
                        &:hover {
                            color: rgb(51, 97, 139);
                            transform: scale(1.1);
                        }
                        &:before {
                            height: 30px;
                            transform: translate(-50%, -50%) rotate(-2deg);
                            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                            background-color: $yellow;
                            border: 1px solid $blue;
                        }
                        &:after {
                            height: 35px;
                            transform: translate(-50%, -50%) rotate(2deg) translateY(4px);
                            background-color: $blue;
                            clip-path: polygon(0 0, 100% 15%, 95% 100%, 0% 100%);
                        }
                    }
                }
                &__img {
                    margin-top: 35px;
                    padding: 0;
                    max-width: 370px;
                    max-height: 240px;
                    img {
                        border: 4px solid #fff;
                    }
                    &-wrapper {
                        position: relative;
                    }
                    &:before {
                        height: 100%;
                        transform: translate(-50%, -50%) rotate(2deg) translateX(0px) skew(-5deg);
                        background-color: $yellow;
                    }
                    &:after {
                        height: 105%;
                        transform: translate(-50%, -50%) rotate(-2deg);
                        z-index: -3;
                        background-color: $green;
                    }
                }
            }
        }
    }

    .gallery {
        padding: 30px 0 100px;
        .container {
            max-width: 1560px;
        }
        &-title {
        }
        &-items {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 50px;
            .gallery-item {
                padding: 0 2px;
                position: relative;
                max-width: 410px;
                max-height: 275px;
                .fancybox {
                    &.gallery-fancybox {
                        img {
                            border: 4px solid #fff;
                        }
                    }
                    &.fancybox-hide {
                        display: none;
                    }
                }

                &:first-child {
                    &:before {
                        width: 0;
                    }
                    &:after {
                        height: 223px;
                        max-width: 307px;
                        width: 100%;
                        transform: translate(-50%, -50%) rotate(-6deg) translateX(-26px) translateY(4px);
                        background-color: $blue;
                        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
                    }
                    a {
                        bottom: -45px;
                        &:hover {
                            color: rgb(51, 97, 139);
                        }
                        &:before {
                            height: 40px;
                            transform: translate(-50%, -50%) rotate(0deg) translateX(-5px) skew(12deg);
                            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                            background-color: $blue;
                        }
                        &:after {
                            height: 40px;
                            width: 95%;
                            transform: translate(-50%, -50%) rotate(2deg) translateY(0px) translateX(-8px);
                            background-color: $yellow;
                            border: 1px solid $blue;
                            clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
                        }
                    }
                }
                &:nth-child(2) {
                    z-index: 6;
                    &:before {
                        width: 0;
                    }
                    &:after {
                        height: 261px;
                        max-width: 389px;
                        width: 100%;
                        transform: translate(-50%, -50%) rotate(-3deg);
                        box-shadow: 0px 0px 10px 0px rgba(121, 121, 121, 0.631);
                        background-color: #dceae6;
                    }
                    a {
                        left: -100px;
                        top: -250px;
                        color: #fff;
                        &:hover {
                            color: rgb(51, 97, 139);
                        }
                        &:before {
                            height: 40px;
                            transform: translate(-50%, -50%) rotate(0deg) translateX(-5px) skew(12deg);
                            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                            background-color: $blue;
                        }
                        &:after {
                            height: 35px;
                            width: 105%;
                            transform: translate(-50%, -50%) rotate(2deg) translateY(4px) translateX(-8px);
                            background-color: $green;
                            border: 1px solid $blue;
                            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 85%);
                        }
                    }
                }
                &:nth-child(3) {
                    z-index: 6;
                    position: relative;
                    &:before {
                        max-width: 328px;
                        width: 100%;
                        height: 195px;
                        z-index: -5;
                        background-color: #fff;
                        box-shadow: 0px 0px 5px 0px rgba(207, 207, 207, 0.631);
                        transform: translate(-50%, -50%) rotate(-5deg) translateX(35px) translateY(-40px);
                    }
                    &:after {
                        height: 228px;
                        max-width: 310px;
                        width: 100%;
                        transform: translate(-50%, -50%) rotate(-6deg) translateX(-35px) translateY(-18px);
                        z-index: -3;
                        background-color: $green;
                    }
                    a {
                        left: 0px;
                        top: 5px;
                        color: #fff;
                        &:hover {
                            color: rgb(51, 97, 139);
                        }
                        &:before {
                            transform: translate(-50%, -50%) rotate(0deg) translateX(-5px) skew(12deg);

                            background-color: $blue;
                            border: 1px solid $blue;
                        }
                        &:after {
                            transform: translate(-50%, -50%) rotate(2deg) translateY(4px) translateX(-8px);
                            background-color: $green;
                            z-index: -5;
                        }
                    }
                }
                &:last-child {
                    &:before {
                        height: 176px;
                        max-width: 335px;
                        width: 100%;
                        transform: translate(-50%, -50%) rotate(-4deg) translateX(50px) translateY(-55px) skew(0deg);
                        background-color: $yellow;
                    }
                    &:after {
                        height: 265px;
                        transform: translate(-50%, -50%) rotate(-1deg) translateX(-35px) translateY(45px);
                        width: 314px;
                        box-shadow: 0px 0px 10px 0px rgba(121, 121, 121, 0.631);
                        background-color: #f6f6f6;
                    }
                    a {
                        left: -120px;
                        top: -315px;
                        &:hover {
                            color: rgb(51, 97, 139);
                        }
                        &:before {
                            height: 35px;
                            transform: translate(-50%, -50%) rotate(0deg) translateX(-5px) skew(12deg);
                            clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
                            background-color: $yellow;
                            border: 1px solid $blue;
                            z-index: -1;
                        }
                        &:after {
                            height: 35px;
                            width: 105%;
                            transform: translate(-50%, -50%) rotate(5deg) translateY(4px) translateX(-8px);
                            background-color: $blue;
                            clip-path: polygon();
                            z-index: -2;
                        }
                    }
                }
            }
        }
    }
    .review {
        padding: 35px 0 50px;
        background: url(../images/bg.png) repeat;
        &__inner {
            display: flex;
            justify-content: space-between;
            .review-weather {
                max-width: 394px;
                padding-right: 25px;
                .weather-title {
                    margin-bottom: 50px;
                }
                .weather-items {
                    display: flex;
                    margin-bottom: 20px;
                    .weather-item {
                        display: flex;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        align-items: center;
                        padding: 12px;
                        width: 180px;
                        height: 100px;
                        margin: 2px;
                        border-radius: 10px;
                        color: $blue;
                        &__img {
                            img {
                                width: 55px;
                                height: 50px;
                            }
                        }

                        &__info {
                            font-size: 18px;
                            line-height: 25px;
                            text-align: right;
                            white-space: nowrap;
                            &-date {
                            }
                            &-temperature {
                                font-size: 30px;
                            }
                            &-type {
                            }
                        }
                    }
                }
                .weather-text {
                }
            }
            .review-block {
                max-width: 722px;
                padding: 0 25px;
                .review-title {
                    margin-bottom: 50px;
                }
                .review-item {
                    display: flex;
                    align-items: center;
                    &.review-item--reverse {
                        .review-item__text {
                            order: 1;
                        }
                    }
                    &__text {
                    }
                    &__img {
                        padding: 0;
                        margin-top: 20px;
                        img {
                            border: 4px solid #fff;
                        }
                    }
                    &.review-item_1 {
                        .review-item__img {
                            height: 180px;
                            margin-left: 30px;
                            &:before {
                                width: 0;
                            }
                            &:after {
                                height: 100%;
                                width: 100%;
                                transform: translate(-50%, -50%) rotate(5deg);
                                background-color: $green;
                            }
                        }
                    }
                    &.review-item_2 {
                        .review-item__img {
                            height: 160px;
                            margin-right: 30px;
                            &:before {
                                width: 100%;
                                height: 100%;
                                transform: translate(-50%, -50%) rotate(-4deg) translateX(0px) translateY(-10px);
                                background-color: $yellow;
                            }
                            &:after {
                                height: 100%;
                                width: 100%;
                                transform: translate(-50%, -50%) rotate(4deg) translateX(0px) translateY(0px);
                                background-color: $blue;
                                clip-path: polygon();
                            }
                        }
                    }
                }
            }
            .review-form {
                max-width: 407px;
                padding-left: 25px;
                &__title {
                    margin-bottom: 20px;
                }
                form {
                    input,
                    textarea {
                        width: 100%;
                        padding: 15px 12px;
                        border-radius: 7px;
                        outline-color: #ccc;
                        border-width: 1px;
                    }
                    input {
                        margin-bottom: 20px;
                        &::placeholder {
                            color: #000;
                        }
                    }
                    textarea {
                        resize: none;
                        width: 100%;
                        &::placeholder {
                            color: #000;
                        }
                    }
                }
                .review-privacy-adaptive {
                    margin-top: 40px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 1px solid #999;
                    border-radius: 10px;
                    padding: 12px;
                    line-height: 20px;
                    max-width: 553px;
                    display: none;
                }
            }
        }
    }
}
.footer {
    position: relative;
    background: url(../images/footer.png) no-repeat;
    background-size: cover;
    height: 264px;
    padding-bottom: 40px;
    &-img {
        position: absolute;
        z-index: -1;
        img {
            height: 264px;
            width: 100%;
        }
    }
    .container {
        height: 100%;
    }
    &__inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
        .footer-privacy {
            background-color: rgba(255, 255, 255, 0.5);
            border: 1px solid #999;
            border-radius: 10px;
            padding: 12px;
            line-height: 20px;
            max-width: 553px;
        }
        .footer-social {
            margin-left: 57px;
            display: flex;
            align-items: center;
            li {
                & + li {
                    margin-left: 30px;
                }
                a {
                }
                &.footer-social__facebook {
                    a {
                        img {
                            position: relative;
                            bottom: -5px;
                        }
                    }
                }
                &.footer-social__vk {
                    a {
                    }
                }
                &.footer-social__instagram {
                    a {
                    }
                }
            }
        }
        .footer-info {
            margin-left: 50px;
            background-color: rgba(255, 255, 255, 0.5);
            border: 1px solid #999;
            border-radius: 10px;
            padding: 12px;
            &__tobook,
            &__admin,
            &__email {
                font-size: 24px;
                position: relative;
                padding-left: 35px;
                &:before {
                    position: absolute;
                    content: "";
                    font-family: "icomoon" !important;
                    left: 0;
                    top: 50%;
                    color: $blue;
                    font-size: 25px;
                    transform: translateY(-50%);
                }
            }
            &__tobook {
                &:before {
                    content: "\f046";
                }
                a {
                    margin-left: 10px;
                }
            }
            &__admin {
                font-size: 23px;
                margin-top: 10px;
                &:before {
                    content: "\e900";
                }
                a {
                    margin-left: 10px;
                }
            }
            &__email {
                margin-top: 6px;
                &:before {
                    content: "\f003";
                }
            }
        }
        .footer-messangers {
            margin-left: 30px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                a {
                    position: relative;
                    object {
                        pointer-events: none;
                        background-color: #fff;
                        border-radius: 50%;
                        border: 5px solid #fff;
                    }
                    &.footer-messangers__telegram {
                        object {
                            width: 47px;
                            height: 47px;
                        }
                    }
                }
            }
        }
    }
}
@import "_media.scss";
